body {
	font-size: 1.2em;
}

@media only screen and (max-device-width: 480px) {
	body {
		font-size: 1.1em;
	}

	input { font-size: 90%; }
}

.ipa-form {
	/*font-size: 120%;*/
	width: 20em;
}

.ipa-form div {
	text-align: right;
	display: grid;
	margin: 0.3em 0;
	/*font-size: inherit;*/
}

.ipa-description {
	margin: 0 0 0.3em;
	border: 1px solid hsl(197, 71%, 90%);
	border-radius: 0.5em;
	padding: 0.3em 0.6em;
	font-size: 75%;
}

input {
	border-radius: 0.3em;
}

#prev, #next, #up {
	display: inline-block;
	margin: 0.4em 0.2em;
	border: 1px solid darkgray;
	border-radius: 0.2em;
	padding: 0.2em 0.4em;
	box-shadow: 0.1em 0.1em lightgray;
	background: linear-gradient(.48turn, hsl(210, 100%, 98%), 60%, hsl(210, 100%, 80%));
}

a { text-decoration: none; }

a:not([href]) { color: hsl(0, 0%, 53%); }

table {
	border-collapse: collapse;
}

th, td {
	border: 1px solid darkgray;
	border-radius: 0.5em;
	padding: 0.2em 0.4em;
}

.templates ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.templates li {
	font-family: monospace;
	line-height: 160%;
}
